<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokess</title>
</head>
<body>
      <h3 id="jokessssssss"></h3>

        <script>
            // THIS IS THE CLIENT !!!!!!!!!!!!!!!!!!!!
            var socket = new WebSocket('ws://127.0.0.1:8000/ws/some_url/'); 

            socket.onmessage = function(event){
                console.log(event.data)
                // get the incoming data
                var joke = event.data;
                document.querySelector('#jokes').innerText = joke;
                // var djangoData = JSON.parse(event.data);
                // document.querySelector('#jokes').innerText = djangoData.message;
            }

        </script>
      
</body>
</html>